<header class="report-header">
  <div class="header-content">
    <h1>Certificate of Acceptance Report</h1>
    <p class="job-number">Job No: {{project.jobNumber}}</p>
    <p class="report-date">Date: {{formatDate generatedAt}}</p>
  </div>
</header>
