<section class="appendix" id="appendix-a">
  <h2>Appendix A: Inspection Photographs</h2>

  {{#if appendices.photos}}
  {{> photo-grid photos=appendices.photos}}
  {{else}}
  <p>No photographs included.</p>
  {{/if}}
</section>
